@tailwind base;
@tailwind components;
@tailwind utilities;

.inactive {
    box-shadow: 0 10px 0 .1px rgb(75, 74, 74);
}

.active {
    box-shadow: 0 0 0 .1px rgb(75, 74, 74);
    transform: translateY(10px)
}